python-dotenv
pydantic
requests
mistralai>=0.0.11

pypdf
markdown
PyMuPDF
boto3

pinecone[grpc]
langchain
chromadb
nltk
sentence_transformers

selenium
webdriver-manager
beautifulsoup4

apache-airflow>=2.6.3
apache-airflow-providers-python
apache-airflow-providers-dummy